<div
  class="h-lvh d-flex justify-center flex items-center flex-col w-100 back bg-[url('https://image.winudf.com/v2/image1/Y29tLnJhZGlvLnJhZGlvYWxmYV9zY3JlZW5fNV8xNjc1NTAzMTQwXzAzNA/screen-5.jpg?fakeurl=1&type=.jpg')] bg-cover"
>
  <div class="d-flex container flex justify-center flex-col items-center">
    <img
      class="rounded-full border-8 border-gray-100 lg:w-1/5 w-1/3 mb-4"
      src="https://radios.xhost.cl/radiolagunadepuyehue/images/host.jpg"
    />
  </div>
  <div class="container">
    <iframe
      src="https://streaming01.xhost.cl/cp/widgets/player/single/?p=8070"
      height="110'"
      width="100%"
      scrolling="no"></iframe>
  </div>
  <div class="d-flex flex justify-center items-center gap-3 mt-2">
    <i
      class="fab fa-tiktok text-slate-300 text-base lg:text-6xl overflow-hidden"
    ></i>
    <i class="fab fa-instagram text-slate-300 overflow-hidden"></i>
    <i class="fab fa-facebook text-slate-300 overflow-hidden"></i>
    <i class="fab fa-twitter text-slate-300 overflow-hidden"></i>
    <i class="fab fa-whatsapp text-slate-300 overflow-hidden"></i>
  </div>
  <div class="mt-20 font-thin text-white text-[2.4vmin]">Powered by XHOST</div>
</div>
